{% extends 'base.html.twig' %}
        {% block stylesheets %}

        {% endblock %}
{% block content %}
    <section class="container">
        <div class="article-content">
            <div class="article-header">
                <div class="col-xs-8">
                    <h2 class="article-title">{{ article.title }}</h2>
                    <p>Categorie : article</p>
                </div>
                <div class="col-xs-4 text-center">
                    <img src="{{ asset('assets/images/image_1.jpg') }}" width="150px" height="150px" class="article-img">
                    <p>{{ article.owner }}</p>
                </div>
            </div>

            <div class="article-body">
                <div>
                    {{ article.content1 }}
                </div>
                <br>
                <div>
                    {{ article.content2 }}
                </div>
            </div>
            <div class="article-footer">
                <p>date de création : {{ article.datecreation|date('d/m/yy') }}</p>
            </div>
        </div>
    </section>
{% endblock %}
